.image {
  border-color: teal;
  border-width: 7px;
  border-style: solid;
  border-radius: 50%;
}
.main-header {
  background-color: white;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: -15px;
  padding: 20px;
}
.work {
  background-color: white;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: -15px;
  padding: 20px;
}
p {
  color: teal;
}

html {
  font-family: 'Oswald', sans-serif;
  background-color: pink;
}

a {
  color: teal;
}
a:hover {
  color: black;
}
div {
  background-color: white;
}
h1 {
  color: teal;
}

/*These are CSS classes, ids, animations
move these later*/
.contact-header {
  float: left;
  padding: 20px;
  border-radius: 20px;
}
.format {
  line-height: 35px;
  float: left;
  padding: 20px;
  background-color: white;
  color: teal;
  border-radius: 20px;
  margin-left: 30px;
}
.circle {
    height: 200px;
    width: 200px;
    background: linear-gradient(
      35deg,
      #ccffff,
      #ffcccc
    );
    margin: 50px 50px 100px 100px;
    border-radius: 50%;
    float: left;
    position: relative;
}
#anim {
  animation-name: rainbow;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}
@keyframes rainbow {
  0% {
    top: 0px;
  }
  50% {
    top: 300px;
  }
  100% {
    top: 0px;
  }
}
